<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niehao.mapper.AudioMapper">
    <resultMap id="baseMap" type="com.niehao.model.BirdMFCC">
        <id property="birdId" column="ID"/>
        <result property="birdName" column="name"/>
        <result property="mfcc" column="password"/>
    </resultMap>
    
</mapper>