<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niehao.mapper.BookMapper">

    <resultMap id="baseMap" type="com.niehao.model.Book">
        <id property="bookId" column="BOOK_ID"/>
        <result property="bookName" column="BOOK_NAME"/>
        <result property="publisher" column="PUBLISHER"/>
        <result property="author" column="AUTHOR"/>
        <result property="bookType" column="BOOK_TYPE"/>
        <result property="remain" column="REMAIN"/>
    </resultMap>
    <insert id="insert" parameterType="com.niehao.model.Book">
        INSERT INTO TB_BOOK_INFO VALUES
        (#{bookId},#{bookName},#{publisher},#{author},#{bookType},#{remain})
    </insert>
    <update id="updateById">
        UPDATE TB_BOOK_INFO
        <set>
            <if test="bookName !=null">
                BOOK_NAME = #{bookName},
            </if>
            <if test="publisher !=null">
                PUBLISHER = #{publisher},
            </if>
            <if test="author !=null">
                AUTHOR = #{author},
            </if>
            <if test="bookType !=null">
                BOOK_TYPE = #{bookType},
            </if>
            <if test="remain !=null">
                REMAIN = #{remain},
            </if>
        </set>
        WHERE BOOK_ID = #{bookId}
    </update>
    <delete id="deleteById" parameterType="string">
        DELETE FROM TB_BOOK_INFO WHERE BOOK_ID = #{id}
    </delete>
    <select id="selectCount" resultType="long">
        SELECT COUNT(*) FROM TB_BOOK_INFO
    </select>
    <select id="selectList" resultMap="baseMap">
        SELECT * FROM MFCC
    </select>

</mapper>
